@model ClubListViewModel
@{
    <div id="AccountScreen">
        <div id="aside">
            <table class="accountTableContent">
                <tr>
                    <td style="padding-left:20px;padding-right:20px;font-family:StatisticsFont;height:100px;">
                        <b>Account</b> <br /> <br /> No Account <img style="float:right;" height="40" width="40" src="~/images/functionalImages/close_box_red.png" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="accountContent">
            <table class="accountTableContent">
                <tr>
                    <td style="        vertical-align: top;
        padding: 10px;
        width: 200px;
        border-right: solid black 1px;
        font-family: StatisticsFont;
        background: #0D21A1;
        color:white;

"> Aangesloten Clubs
                    </td>
                    <td style="text-align:start;vertical-align:top;">
                        <div  style="width:90%;margin-left:5%;margin-top:30px;padding:10px;  ">
                            <h3>Clubs gerangschikt op basis van siterecords</h3>
                            <br/>
                            <br/>
                            <p style="font-family:StatisticsFont">THE SITE RECORD CLUB CHAMPION !</p>
                            @for(var i = 1; i < Model.Clubs.Count + 1; i++)
                            {
                                int tel = 0;
                        <div class="Champion" style="width:100%;font-family:StatisticsFont;background:#EEF0F2;">

                            <div style="font-size:40pt;float:left;width:50px;text-align:center;background:#EEC643;margin-right:15px;">@i</div>
                            <h2>@Model.Clubs[i - 1].Clubnaam</h2>
                            <p style="margin-top:10px;">Site records: @Model.Clubs[i - 1].AantalRecords</p>
                            <br />
                            <br />
                            <h3>Kampioen</h3>
                            <br />
                                <ul style="margin-left:50px;">                             
                            @foreach (var recordhouder in Model.Recordhouders)
                            {
                                if (Model.Clubs[i - 1].AantalRecords != 0 && Model.Clubs[i - 1].Id == recordhouder.Club.Id )
                                {
                                    var recordnaam = @Model.Records[tel].Recordnaam.Split("(");

                                        <li style="padding:5px;"><b>@recordhouder.Voornaam @recordhouder.Achternaam </b><br/> @recordnaam[0] met <b>@Model.Records[tel].RecordCijfer </b>@Model.Records[tel].RecordEenheid.</li>
                                    tel++;
                                }
                                else
                                {
                                    tel++;
                                }

                            }
                            </ul>
                        </div>
                               
                            
                            }
                        </div>
                    </td>
                </tr>

            </table>
        </div>
    </div>
}
