@model AccountViewModel 
@{
    <div id="AccountScreen">
        <div id="aside">
            <table class="accountTableContent">
                <tr>
                    <td style="padding-left:20px;padding-right:20px;font-family:StatisticsFont;height:100px;">
                        <b>Logged in</b> <br /> <br/> @Model.Voornaam  @Model.Achternaam <img style="float:right;" height="40" width="40" src="~/images/functionalImages/ok.png" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="accountContent">
            <table class="accountTableContent">
                <tr>
                    <td style="        vertical-align: top;
        padding: 10px;
        width: 200px;
        border-right: solid black 1px;
        font-family: StatisticsFont;
        background: #0D21A1;
        color:white;

">
                   @foreach(var accountTile in Model.AccountTiles)
                   {
                       <div class="accountTile">
                           <p>@accountTile.Name</p>
                           <img src="@accountTile.Picture" style="width:60%;height:100px;margin-top:20px;"/>
                       </div>
                   }

                    </td>
                    <td style="vertical-align:top;padding:10px;font-family:StatisticsFont;font-size:20px;">
                        <h3>@Model.AccountType</h3><br/>
                        <p>@Model.Voornaam @Model.Achternaam</p>
                         <br />
                        <p>Leeftijd: @Model.Leeftijd jaar</p>
                        <br />
                        @if (Model.Club != null)
                        {
                            <h3>Club</h3>
                            <br />
                            <p>@Model.Club.Clubnaam</p>
                        }
                    </td>
                </tr>

            </table>
        </div>
    </div>
        }
