@model AccountViewModel
@{
    <div id="AccountScreen">
        <div id="aside">
            <table class="accountTableContent">
                <tr>
                    <td style="padding-left:20px;padding-right:20px;font-family:StatisticsFont;height:100px;">
                        <b>Logged in</b> <br /> <br /> @Model.Voornaam  @Model.Achternaam <img style="float:right;" height="40" width="40" src="~/images/functionalImages/ok.png" />
                    </td>
                </tr>
            </table>
        </div>
        <div id="accountContent">
            <table class="accountTableContent">
                <tr>
                    <td style="        vertical-align: top;
        padding: 10px;
        width: 200px;
        border-right: solid black 1px;
        font-family: StatisticsFont;
        background: #0D21A1;
        color:white;

">
                        @*Toestand NADAT er op accountTile is geklikt*@
                        @foreach (var accountTile in Model.AccountTiles)
                        {
                            <a asp-controller="Tile" asp-action="index" asp-route-id="@accountTile.Id">

                                @if (Model.SelectedAccountTile == accountTile.Id)
                                {
                                    <div class="accountTile selectedTile">
                                        <p>@accountTile.Name</p>
                                        <img src="@accountTile.Picture" style="width:60%;height:100px;margin-top:20px;" />
                                    </div>
                                }
                                else
                                {
                                    <div class="accountTile">
                                        <p>@accountTile.Name</p>
                                        <img src="@accountTile.Picture" style="width:60%;height:100px;margin-top:20px;" />
                                    </div>
                                }
                            </a>
                        }
                    </td>
                    <td style="vertical-align:top;padding:10px;font-family:StatisticsFont;font-size:20px;">
                        @if (Model.SelectedAccountTile == 0)
                        {
                            <h2 style="border-bottom: dotted 3px black">Profiel</h2>
                            <br /><br />
                            <h3>@Model.AccountType</h3><br />
                            <p style="padding-left:20px;">@Model.Voornaam @Model.Achternaam</p>
                            <br />
                            <p style="padding-left:20px;">Leeftijd: @Model.Leeftijd jaar</p>
                            <br />
                            @if (Model.Club != null)
                            {
                                <h3>Club</h3>
                                <br />
                                <p style="padding-left:20px;">@Model.Club.Clubnaam</p>
                            }
                        }
                        @if (Model.SelectedAccountTile == 1)
                        {
                            <h2 style="border-bottom: dotted 3px black">Fietsen</h2>
                            @if (Model.Fietsen.Count == 0)
                            {
                                <br /><br />
                                <p style="padding-left:20px;">Heeft geen fietsen</p>
                            }


                            @foreach (var fiets in Model.Fietsen)
                            {
                                <br /><br />
                                <h3>Merk Fiets</h3><br />
                                <p style="padding-left:20px;">@fiets.Merk</p>
                                <br /><br />
                                <h3>Kleur Zadel</h3><br />
                                <p style="padding-left:20px;">@fiets.Zadel</p>
                            }


                        }
                        @if (Model.SelectedAccountTile == 2)
                        {
                            <h2 style="border-bottom: dotted 3px black">Statestieken</h2>
                        }
                        @if (Model.SelectedAccountTile == 3)
                        {
                            <h2 style="border-bottom: dotted 3px black">Ritten</h2>
                        }
                        @if (Model.SelectedAccountTile == 4)
                        {
                            <h2 style="border-bottom: dotted 3px black">Clubbeheer</h2>
                            <h3 style="padding-top:20px;">Deze clubs staan op je fanlijst</h3>
                            <div id="clubPlatesContainer">
                                @foreach (var club in Model.Clubs)
                                {
                                    <div class="ClubPlate">
                                        <div id="crown">
                                            <img src="~/images/Crown.png" width="200" height="100" />
                                        </div>

                                        <div id="ClubPlateBorder">
                                            <div class="ClubPlateContent" id="Clubnaam">
                                                @club.Clubnaam
                                            </div>
                                            <div class='ClubPlateContent' id="ClubInfo">
                                                Leden: @club.Leden.Count<br /><br />
                                                Opgericht: @club.Oprichtingsjaar<br /><br />
                                                Records: @club.AantalRecords
                                            </div>
                                            <div id="EraseClubFromFanList">
                                                <img src="~/images/functionalImages/close_box_red.png" width="25" height="25" title="Verwijder" />
                                            </div>
                                        </div>

                                    </div>
                                }
                            </div>
                        }
                        @if (Model.SelectedAccountTile == 5)
                        {
                            <h2 style="border-bottom: dotted 3px black">Fanbeheer</h2>
                        }
                        @if (Model.SelectedAccountTile == 6)
                        {
                            <h2 style="border-bottom: dotted 3px black">Mijn Club</h2>
                            <br /><br />
                            <h3>Clubnaam</h3><br />
                            <p style="padding-left:20px;">@Model.Club.Clubnaam</p>
                        }

                        @if (Model.SelectedAccountTile == 7)
                        {
                            <h2 style="border-bottom: dotted 3px black">Options</h2>
                            <br /><br />

                        }
                    </td>

                </tr>

            </table>
        </div>
    </div>
}
